<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.symbol.assettrackerlite">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.zebra.provider.READ"/>

    <queries>
        <package android:name="com.zebra.zebracontentprovider" />
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="s"
        tools:ignore="DataExtractionRules">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.symbol.assettrackerlite.MainActivity" />
        </activity>
        <activity
            android:name=".InventoryActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".LicenseActivity"
            android:label="@string/title_activity_license"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AddModifyData"
            android:label="@string/title_activity_add_modify_data"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_string"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

    </application>
</manifest>